$clr-primary: hsl(10, 79%, 65%);
$clr-secondary: hsl(186, 34%, 60%);

$clr-neutral-100: hsl(33, 100%, 98%);
$clr-neutral-200: hsl(27, 66%, 92%);
$clr-neutral-300: hsl(28, 10%, 53%);
$clr-neutral-400: hsl(25, 47%, 15%);

$fs-primary: 1.125rem;

$ff-primary: 'DM Sans', sans-serif;
$fw-regular: 400;
$fw-bold: 700;

.attribution {
  position: static;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 15%, 0.8);

  a {
    color: hsla(230, 8%, 15%, 0.6);
    transition: 0.2s ease;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: hsla(230, 8%, 15%, 0.4);
  }
}

body {
  font-family: $ff-primary;
  font-weight: $fw-regular;
  color: $clr-neutral-400;
  font-size: $fs-primary;
  background: $clr-neutral-200;

  min-height: 100vh;
}

main {
  margin: 4.15rem 1rem;
}

.balance {
  color: $clr-neutral-100;
  background-color: $clr-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem 1.05rem 1.2rem;
  border-radius: .7rem;

  &__heading {
    font-size: .95rem;
    font-weight: $fw-regular;

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: $fw-bold;
    }
  }

  &__logo {
    margin-top: .375rem;

    svg {
      max-width: 3.75rem;
    }
  }
}

.spending {
  background: $clr-neutral-100;
  border-radius: .7rem;
  margin-top: 1rem;
  padding: 1.35rem 1.2rem;

  &__heading {
    font-size: 1.515rem;
  }

  &-grid {
    padding: 0 0 0;
    margin: 3rem 0 1.6rem;
    display: grid;
    width: 100%;
    gap: .6rem;
    grid-template-columns: repeat(7, 1fr);
    height: 11rem;

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.biggest {
        div {
          background-color: $clr-secondary;
        }
      }

      div {
        position: relative;
        margin-top: auto;
        height: 80%;
        border-radius: .25rem;
        background-color: $clr-primary;
        transition: all .2s ease;

        transform: scaleY(0);
        transform-origin: bottom;

        animation: .5s ease grow forwards;

        p {
          display: none;
        }
      }

      p {
        font-size: .75rem;
        color: $clr-neutral-300;
        text-align: center;
        margin-top: .5rem;
      }
    }
  }
}

  .spending-grid__item {
    &.active {
      div {
        filter: brightness(1.1);

        p {
          animation: tooltipAppear .25s forwards;
          display: block;
          position: absolute;
          border-radius: .2rem;
          top: -3rem;
          left: 50%;
          transform: translateX(-50%);
          padding: .35rem;
          background-color: $clr-neutral-400;
          color: $clr-neutral-100;
        }
      }
    }
  }

.total {
  padding-top: 1.5rem;
  border-top: 2px solid $clr-neutral-200;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: .95rem;

  &__heading {
    font-weight: $fw-regular;
    font-size: .95rem;

    span {
      font-weight: $fw-bold;
      display: block;
      font-size: 1.9rem;
    }
  }

  &__diff {
    text-align: end;
    line-height: 1.3;
    margin-bottom: .25rem;

    span {
      display: block;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

@keyframes tooltipAppear {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(20%) translateX(-50%);
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@media only screen and (min-width: 40em) {
  body {
    display: grid;
    place-items: center;
  }
  main {
    width: 33.75rem;
    margin: 0;
  }
  .balance {
    width: 100%;
    padding: 1.45rem 2.5rem 1.45rem 2rem;
    border-radius: 1.25rem;

    &__heading {
      font-size: $fs-primary;

      span {
        font-size: 2rem;
        margin-top: .15rem;
      }
    }

    &__logo {
      svg {
        max-width: none;
      }
    }
  }

  .spending {
    margin-top: 1.6rem;
    padding: 1.8rem 2.5rem 2.5rem;
    border-radius: 1.25rem;

    &__heading {
      font-size: 2rem;
    }

    &-grid {
      margin: 3.9rem 0 2rem;
      gap: 1rem;
      height: 11rem;

      &__item {
        p {
          font-size: 1rem;
          margin-top: .1rem;
        }

        div {
          cursor: pointer;

          &:hover {
            filter: brightness(1.1);

            p {
              animation: tooltipAppear .25s forwards;
              display: block;
              position: absolute;
              border-radius: .2rem;
              top: -3rem;
              left: 50%;
              transform: translateX(-50%);
              padding: .35rem;
              background-color: $clr-neutral-400;
              color: $clr-neutral-100;
            }
          }
        }
      }
    }
  }
  .total {
    padding-top: 2rem;

    &__heading {
      font-size: 1.15rem;
      line-height: 1.3;

      span {
        font-size: 3rem;
      }
    }

    &__diff {
      font-size: 1.15rem;
      margin-bottom: 0.4rem;

      span {
        font-size: 1.175rem;
      }
    }
  }
  .attribution {
    position: absolute;
  }
}